/* Estilos básicos */
body {
    background-color: #1a1919; /* Negro */
    color: #fff; /* Blanco */
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #d32f2f; /* Rojo */
    padding: 20px;
    font-size: 24px;
}

.cart {
    background-color: hsl(0, 0%, 7%); /* Negro oscuro */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

button {
    background-color: #d32f2f; /* Rojo */
    color: #fff; /* Blanco */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #ff4c4c; /* Rojo más claro */
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.bin-sticker {
    width: 25px;
    height: 25px;
    transition: transform 0.2s ease-in-out;
}

.delete-btn:hover .bin-sticker {
    transform: scale(1.2);
}

.checkout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e74c3c; /* Rojo */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.checkout-btn:hover {
    background-color: #c0392b; /* Rojo más oscuro */
}

footer {
    margin-top: 20px;
    background-color: #d32f2f; /* Rojo */
    padding: 10px;
}
