/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.cart {
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart li {
    margin: 10px 0;
}

.cart button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart button:hover {
    background-color: darkred;
}
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.bin-sticker {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
}

.delete-btn:hover .bin-sticker {
    transform: scale(1.2);
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
