/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111; /* Negro elegante */
    color: #fff;
}

/* Encabezado */
header {
    background-color: #000; /* Negro puro */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 3px solid #d32f2f; /* Línea roja elegante */
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

/* Barra de navegación */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #1a1919; /* Negro oscuro */
    padding: 15px;
    border-bottom: 2px solid #d32f2f;
}

nav button {
    background-color: #d32f2f; /* Rojo */
    color: white;
    border: 2px solid white;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
}

nav button:hover {
    background-color: white;
    color: #d32f2f;
    border: 2px solid #d32f2f;
}

/* Carrito */
.cart-info button {
    background-color: #d32f2f; /* Rojo */
    padding: 12px 20px;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: bold;
}

.cart-info button:hover {
    background-color: white;
    color: #d32f2f;
}

/* Sección de productos */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #130f0f; /* Fondo negro puro */
    min-height: 100vh; /* Ocupar toda la pantalla */
}

/* Tarjetas de productos */
.product {
    background-color: #160e0e; /* Negro oscuro */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #d32f2f;
    color: white;
    position: relative;
    overflow: hidden;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(211, 47, 47, 0.8);
}

/* Imagen del producto */
.product img {
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product:hover img {
    transform: scale(1.1);
}

/* Nombre del producto */
.product h2 {
    font-size: 20px;
    margin: 10px 0;
    color: white;
}

/* Descripción */
.product p {
    color: #bbb;
}

/* Botón de compra */
.product button {
    background-color: #d32f2f;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.product button:hover {
    background-color: white;
    color: #d32f2f;
}

/* Pie de página */
footer {
    background-color: #000; /* Negro */
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border-top: 3px solid #d32f2f;
}
